<%= turbo_frame_tag "notes_content_#{dom_id(@media_item)}" do %>
  <div class="flex justify-between items-center mb-4">
    <h3 class="font-bold text-2xl">Notes</h3>
    <%= link_to "Add New Note", new_media_item_note_path(@media_item), data: { turbo_frame: "notes_content_#{dom_id(@media_item)}" }, class: "btn btn-sm btn-primary" %>
  </div>

  <%= turbo_frame_tag "notes_content_#{dom_id(@media_item)}" do %>
    <%= render 'notes/notes_list', media_item: @media_item, notes: @notes %>
  <% end %>
<% end %>
