<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <div class="rounded-lg bg-base-100 p-6 md:p-8 shadow-xl"> 
    <h1 class="text-3xl font-bold text-base-content tracking-tight mb-6">Add a New Item</h1>
    <%= render "form", media_item: @media_item %>
  </div>
</div>
