<div id="<%= dom_id(forum_post) %>">
  <% if forum_post.user == current_user %>
    <div class="chat chat-end">
      <%# ... your chat bubble code ... %>
    </div>
  <% else %>
    <div class="chat chat-start">
      <%# ... your chat bubble code ... %>
    </div>
  <% end %>
</div>
