@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi, black, valentine, luxury, retro, halloween, light, dark;
}
@plugin "daisyui/theme" {
    name: "otakusen";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(97% 0 0);
    --color-primary: oklch(66% 0.295 322.15);
    --color-primary-content: oklch(97% 0.017 320.058);
    --color-secondary: oklch(79% 0.184 86.047);
    --color-secondary-content: oklch(98% 0.026 102.212);
    --color-accent: oklch(55% 0 0);
    --color-accent-content: oklch(98% 0 0);
    --color-neutral: oklch(43% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(71% 0.202 349.761);
    --color-error-content: oklch(28% 0.109 3.907);
    --radius-selector: 1rem;
    --radius-field: 0rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}